---js
const eleventyNavigation = {
	key: "Accueil",
	order: 1
};
---

<h1>Bienvenue</h1>

<p>
	Le kéfir est une boisson <a href="/blog/fermentation">fermentée</a>, légèrement acide et pétillante, qui peut être <a href="/blog/recette">préparée à la maison</a> grâce aux <a href="/blog/composition-des-grains">grains de kéfir</a>.

	En résulte un breuvage peu sucré et rafraichissant, tout en étant naturel et <a href="/blog/bienfaits">bon pour la santé</a>, ce qui en fait une super alternative aux sodas ou aux bières.
	Il existe deux types de kéfir : le <a href="https://fr.wikipedia.org/wiki/K%C3%A9fir#Le_k%C3%A9fir_de_lait">kéfir de lait</a> et le kéfir d'eau (ou kéfir de fruit), qui nous intéresse ici.
</p>
